* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Nunito", sans-serif;
  color: #000;
}

img {
  width: 100%;
  height: auto;
}

main {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  background: #1c1c1c;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.ttu {
  text-transform: uppercase;
}

div.container {
  display: flex;
  align-items: center;
}
div.container .brand-logo {
  width: 100px;
}
div.container .main-navigation ul {
  display: flex;
  justify-content: center;
  list-style: none;
}
div.container .main-navigation a {
  display: inline-block;
  margin-left: 4rem;
  padding: 3rem 0;
  text-decoration: none;
  font-weight: 700;
  color: #000;
  border-bottom: 4px solid transparent;
}
div.container .main-navigation a.active {
  color: #097ceb;
  border-color: #097ceb;
}

.main-content {
  margin-top: 3rem;
  color: #fff;
}
.main-content .separator {
  height: 25px;
  width: 100vw;
  background: #0082f9;
}
.main-content .comics {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.main-content .comics .comic {
  flex-basis: calc(100% / 6 - 2rem);
  margin: 2rem 1rem;
  cursor: pointer;
  transition: transform 0.2s;
}
.main-content .comics .comic:hover {
  transform: scale(1.12);
}
.main-content .comics .comic .img-title {
  margin-top: 1rem;
  font-size: 12px;
}
.main-content .comics .btn {
  margin-bottom: 2rem;
  padding: 10px 50px;
  font-weight: 700;
  color: #fff;
  background: #0082f9;
  cursor: pointer;
  border: none;
  transition: transform 0.2s;
}
.main-content .comics .btn:hover, .main-content .comics .btn:focus {
  transform: scale(1.12);
}

footer {
  background: #303030;
}
footer .main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}
footer .main-footer .sign-up {
  padding: 1rem;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 700;
  background: transparent;
  border-color: #0082f9;
  cursor: pointer;
  transition: transform 0.2s;
}
footer .main-footer .sign-up:hover {
  transform: scale(1.12);
}
footer .main-footer .socials {
  display: flex;
  align-items: center;
}
footer .main-footer .socials .ft-follow {
  color: #0082f9;
  margin-right: 1rem;
}
footer .main-footer .socials .footer-nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
}
footer .main-footer .socials .footer-nav a {
  display: inline-block;
  margin-left: 1.5rem;
  text-decoration: none;
  transition: transform 0.2s;
}
footer .main-footer .socials .footer-nav a:hover {
  transform: scale(1.12);
}