header {
    display: flex;
    align-items: center;

    .brand-logo {
        width: 100px;
    }

    .main-navigation {
        ul {
            display: flex;
            justify-content: center;
            list-style: none;
        }
        a {
            display: inline-block;
            margin-left: 4rem;
            padding: 3rem 0;
            text-decoration: none;
            font-weight: 700;
            color: $text-color;
            border-bottom: 4px solid transparent;
            &.active {
                color: $primary-color;
                border-color: $primary-color;
            }
        }
    }
}
